In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
from sklearn.utils import shuffle
%matplotlib inline

In [2]:
df = pd.read_csv('Loan_Default.csv')

In [3]:
df.head(10)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
5,24895,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,EXP,864,EXP,35-44,not_inst,70.089286,North,direct,0,40.0
6,24896,2019,cf,Joint,pre,type1,p3,l1,nopc,nob/c,...,EXP,860,EXP,55-64,to_inst,79.109589,North,direct,0,44.0
7,24897,2019,NaN,Female,nopre,type1,p4,l1,nopc,nob/c,...,CIB,863,CIB,55-64,to_inst,86.525974,North,direct,0,42.0
8,24898,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,CIB,580,EXP,55-64,to_inst,78.765690,central,direct,0,44.0
9,24899,2019,cf,Sex Not Available,nopre,type3,p3,l1,nopc,nob/c,...,CIB,788,EXP,55-64,to_inst,63.444767,south,direct,0,30.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [5]:
df['Status'].unique()

array([1, 0], dtype=int64)

In [6]:
df = df.drop(columns=['ID', 'Region', 'Gender'])

In [7]:
df['loan_limit'].unique()

array(['cf', nan, 'ncf'], dtype=object)

In [8]:
loan_limit_mapping = {
    'cf':0,
    'ncf':1
}

In [9]:
df['loan_limit'] = df['loan_limit'].map(loan_limit_mapping)

In [10]:
df['loan_limit'] = df['loan_limit'].fillna(df['loan_limit'].mode()[0])

In [11]:
approv_in_adv_mapping = {
    'nopre':0,
    'pre':1
}

In [12]:
df['approv_in_adv'] = df['approv_in_adv'].map(approv_in_adv_mapping)
df['approv_in_adv'] = df['approv_in_adv'].fillna(df['approv_in_adv'].mode()[0])

In [13]:
loan_purpose_mapping = {
    'p1':0,
    'p2':1,
    'p3':2,
    'p4':3
}

In [14]:
df['loan_purpose'] = df['loan_purpose'].map(loan_purpose_mapping)
df['loan_purpose'] = df['loan_purpose'].fillna(df['loan_purpose'].mode()[0])

In [15]:
df['rate_of_interest'] = df['rate_of_interest'].fillna(df['rate_of_interest'].median())

In [16]:
df['Interest_rate_spread'] = df['Interest_rate_spread'].fillna(df['Interest_rate_spread'].median())

In [17]:
df['Upfront_charges'] = df['Upfront_charges'].fillna(df['Upfront_charges'].median())

In [18]:
df['property_value'] = df['property_value'].fillna(df['property_value'].median())

In [19]:
df['income'] = df['income'].fillna(df['income'].mean())

In [20]:
df['LTV'] = df['LTV'].fillna(df['LTV'].median())

In [21]:
df['dtir1'] = df['dtir1'].fillna(df['dtir1'].median())

In [22]:
low_missing_column = [
    'term', 'Neg_ammortization', 'age', 'submission_of_application'
]
df = df.dropna(subset=low_missing_column)

In [23]:
# Gender_mapping = {
#     'Sex Not Available':0,
#     'Male':1,
#     'Female':2,
#     'Joint':3
# }

In [24]:
# df['Gender'] = df['Gender'].map(Gender_mapping)

In [25]:
loan_type_mapping={
    'type1':0,
    'type2':1,
    'type3':2
}

In [26]:
df['loan_type'] = df['loan_type'].map(loan_type_mapping)

In [27]:
Credit_Worthiness_mapping = {
    'l1':0,
    'l2':1
}

In [28]:
df['Credit_Worthiness'] = df['Credit_Worthiness'].map(Credit_Worthiness_mapping)

In [29]:
open_credit_mapping = {
    'nopc':1,
    'opc':2
}

In [30]:
df['open_credit'] = df['open_credit'].map(open_credit_mapping)

In [31]:
business_or_commercial_mapping = {
    'nob/c':0,
    'b/c':1
}

In [32]:
df['business_or_commercial'] = df['business_or_commercial'].map(business_or_commercial_mapping)

In [33]:
Neg_ammortization_mapping = {
    'not_neg':0,
    'neg_amm':1
}

In [34]:
df['Neg_ammortization'] = df['Neg_ammortization'].map(Neg_ammortization_mapping)

In [35]:
interest_only_mapping = {
    'not_int':0,
    'int_only':1
}

In [36]:
df['interest_only'] = df['interest_only'].map(interest_only_mapping)

In [37]:
lump_sum_payment_mapping = {
    'not_lpsm':0,
    'lpsm':1
}

In [38]:
df['lump_sum_payment'] = df['lump_sum_payment'].map(lump_sum_payment_mapping)

In [39]:
construction_type_mapping = {
    'sb':0,
    'mh':1
}

In [40]:
df['construction_type'] = df['construction_type'].map(construction_type_mapping)

In [41]:
occupancy_type_mappingm = {
    'pr':0,
    'sr':1,
    'ir':2
}

In [42]:
df['occupancy_type'] = df['occupancy_type'].map(occupancy_type_mappingm)

In [43]:
Secured_by_mapping = {
    'home':0,
    'land':1
}

In [44]:
df['Secured_by'] = df['Secured_by'].map(Secured_by_mapping)

In [45]:
total_units_mapping = {
    '1U':0,
    '2U':1,
    '3U':2,
    '4U':3
}

In [46]:
df['total_units'] = df['total_units'].map(total_units_mapping)

In [47]:
credit_type_mapping = {
    'EXP':0,
    'EQUI':1,
    'CRIF':2,
    'CIB':3
}

In [48]:
df['credit_type'] = df['credit_type'].map(credit_type_mapping)

In [49]:
coapplicant_credit_type_mapping = {
    'CIB':0,
    'EXP':1
}

In [50]:
df['co-applicant_credit_type'] = df['co-applicant_credit_type'].map(coapplicant_credit_type_mapping)

In [51]:
submission_of_application_mapping = {
    'to_inst':0,
    'not_inst':1
}

In [52]:
df['submission_of_application'] = df['submission_of_application'].map(submission_of_application_mapping)

In [53]:
Security_Type_mapping = {
    'direct':0,
    'Indriect':1
}

In [54]:
df['Security_Type'] = df['Security_Type'].map(Security_Type_mapping)

In [55]:
df['age'].unique()

array(['25-34', '55-64', '35-44', '45-54', '65-74', '>74', '<25'],
      dtype=object)

In [56]:
age_mapping = {
    '25-34':0,
    '55-64':1,
    '35-44':2,
    '45-54':3,
    '65-74':4,
    '>74':5,
    '<25':6
}

In [57]:
df['age'] = df['age'].map(age_mapping)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148308 entries, 0 to 148669
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       148308 non-null  int64
 1   loan_limit                 148308 non-null  float64
 2   approv_in_adv              148308 non-null  float64
 3   loan_type                  148308 non-null  int64
 4   loan_purpose               148308 non-null  float64
 5   Credit_Worthiness          148308 non-null  int64
 6   open_credit                148308 non-null  int64
 7   business_or_commercial     148308 non-null  int64
 8   loan_amount                148308 non-null  int64
 9   rate_of_interest           148308 non-null  float64
 10  Interest_rate_spread       148308 non-null  float64
 11  Upfront_charges            148308 non-null  float64
 12  term                       148308 non-null  float64
 13  Neg_ammortization          148308 non-null  int64
 14  interest_only              148308 non-null  int64
 15  lump_sum_payment           148308 non-null  int64
 16  property_value             148308 non-null  float64
 17  construction_type          148308 non-null  int64
 18  occupancy_type             148308 non-null  int64
 19  Secured_by                 148308 non-null  int64
 20  total_units                148308 non-null  int64
 21  income                     148308 non-null  float64
 22  credit_type                148308 non-null  int64
 23  Credit_Score               148308 non-null  int64
 24  co-applicant_credit_type   148308 non-null  int64
 25  age                        148308 non-null  int64
 26  submission_of_application  148308 non-null  int64
 27  LTV                        148308 non-null  float64
 28  Security_Type              148308 non-null  int64
 29  Status                     148308 non-null  int64
 30  dtir1                      148308 non-null  float64
dtypes: float64(11), int64(20)
memory usage: 36.2 MB

In [59]:
# Import necessary libraries
from sklearn.model_selection import train_test_split

# Assuming 'df' is your DataFrame
# Separate the feature set (X) and the target/label (y)
X = df.drop(columns=['Status'])  # Drop 'loan_status' from the feature set
y = df['Status']  # 'loan_status' as the target

# Perform train-test split (80% train, 20% test by default)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=23)

# Print the shapes of the splits
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (103815, 30)
X_test shape: (44493, 30)
y_train shape: (103815,)
y_test shape: (44493,)

In [60]:
# from sklearn.model_selection import StratifiedShuffleSplit
# df.reset_index(drop=True, inplace=True)
# # Assume new_data is your DataFrame and 'Status' is the target variable
# split = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=42)

# for train_index, test_index in split.split(df, df['Status']):
#     train_data = df.loc[train_index]
#     test_data = df.loc[test_index]

# # Separate features and target
# X_train = train_data.drop('Status', axis=1)
# y_train = train_data['Status']
# X_test = test_data.drop('Status', axis=1)
# y_test = test_data['Status']

In [61]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('logistic', LogisticRegression(class_weight='balanced', random_state=42))
])
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
y_pred_proba = pipeline.predict_proba(X_test)[:, 1]
print("Logistic Regression with Imputer:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("AUC:", roc_auc_score(y_test, y_pred_proba))

Logistic Regression with Imputer:
              precision    recall  f1-score   support

           0       0.85      0.47      0.61     33513
           1       0.32      0.75      0.44     10980

    accuracy                           0.54     44493
   macro avg       0.58      0.61      0.53     44493
weighted avg       0.72      0.54      0.57     44493

Confusion Matrix:
 [[15787 17726]
 [ 2787  8193]]
AUC: 0.5585173537583247

C:\Users\goura\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(